body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #212327;
    --grey-900-alpha12: #868c98;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('font.ttf') format("truetype");
}

@font-face {
    font-family: 'HelveticaNeueThin';
    src: url('reg-font.otf') format("opentype");
}

@font-face {
    font-family: 'alt-font';
    src: url('alt-font.ttf') format("truetype");
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    margin-top: 300px;
}

#description {
    font-family: 'HelveticaNeueThin';
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 50px;
}

#search-input {
    color: white;
    background-color: #2f3237;
    border-radius: 30px;
    padding: 13px 50px;
    font-size: 17px;
    margin-right: 0px;
    transition: box-shadow .2s ease,color .3s ease;
    box-shadow: 0 2px 16px 0 rgba(5, 5, 6, 4%), 0 4px 8px 0 rgba(5, 5, 6, 8%);;
    border: solid 1px var(--grey-900-alpha12);
}

#search-button {
    background-color: rgba(0, 0, 0, 0.0);
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 0px 10px;
    font-size: 18px;
}

footer {
    margin-top: 383px;
    display: flex;
    justify-content: center;
    align-items: center;
}

