body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #212327;
    --grey-900-alpha12: #868c98;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('font.ttf') format("truetype");
}

@font-face {
    font-family: 'HelveticaNeueThin';
    src: url('reg-font.otf') format("opentype");
}

@font-face {
    font-family: 'alt-font';
    src: url('alt-font.ttf') format("truetype");
}

.main-elements {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header {
}

#description {
    font-family: 'HelveticaNeueThin';
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 20px;
}

.search-box {
}

#search-input {
    color: white;
    background-color: #2f3237;
    border-radius: 30px;
    padding: 13px 50px;
    font-size: 17px;
    margin-right: 0px;
    transition: box-shadow .2s ease,color .3s ease;
    box-shadow: 0 2px 16px 0 rgba(5, 5, 6, 4%), 0 4px 8px 0 rgba(5, 5, 6, 8%);;
    border: solid 1px var(--grey-900-alpha12);
}

#search-button {
    background-color: rgba(0, 0, 0, 0.0);
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 0px 8px;
    font-size: 18px;
}

footer {
    text-align: center;
    text-align: bottom;
}

